.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked {
        background-color: rgba(255, 255, 255, 0.5);
    }

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.brand-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

/* HOME */
.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

/* COUNTER */
.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

/* WEATHER */
.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

/* PRODUCTS */
.bi-archive-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 2a.5.5 0 0 0-.5.5V4h14V2.5a.5.5 0 0 0-.5-.5h-13Zm13 3H1v8.5a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5V5Zm-4.5 3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1h3Z'/%3E%3C/svg%3E");
}

/* CATEGORIES */
.bi-folder-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M9.828 4a3 3 0 0 1-2.121-.879L6.12 2.293A1 1 0 0 0 5.414 2H2a2 2 0 0 0-2 2v1h16V4a2 2 0 0 0-2-2H9.828ZM0 6.5V6h16v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-5.5Z'/%3E%3C/svg%3E");
}

/* ORDERS */
.bi-basket-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M8.5 1a.5.5 0 0 0-1 0v2H3.5a.5.5 0 0 0-.5.5v.5H1a.5.5 0 0 0 0 1h1.18l1.24 6.228a2 2 0 0 0 1.97 1.772h5.24a2 2 0 0 0 1.97-1.772L13.82 5H15a.5.5 0 0 0 0-1h-2v-.5a.5.5 0 0 0-.5-.5H8.5V1Zm4.321 4L11.61 11.035a1 1 0 0 1-.985.965H5.375a1 1 0 0 1-.985-.965L3.179 5h9.642Z'/%3E%3C/svg%3E");
}

/* SALES REPORT */
.bi-graph-up-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M0 0h1v15h15v1H0V0Zm14.854 3.646a.5.5 0 0 0-.708 0L10.5 7.293 8.354 5.146a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 .708.708L8 6.207l2.146 2.147a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708Z'/%3E%3C/svg%3E");
}

/* MEMBERS */
.bi-people-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M5.5 3a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5ZM11 5a2 2 0 1 0 4 0 2 2 0 0 0-4 0ZM1 13a2 2 0 0 1 2-2h5a2 2 0 0 1 2 2v1H1v-1Zm10.784-1.407A1.99 1.99 0 0 1 13 11h2a2 2 0 0 1 2 2v1h-5v-1a.998.998 0 0 0-.216-.593Z'/%3E%3C/svg%3E");
}

/* PROFILE */
.bi-person-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm4-3a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM2 13s-1 0-1-1 1-4 7-4 7 3 7 4-1 1-1 1H2Zm1.22-1h9.56c.058-.08.12-.193.17-.338.06-.172.09-.362.05-.552C12.776 10.262 11.404 9 8 9c-3.404 0-4.776 1.262-5 2.11a1.147 1.147 0 0 0 .05.552c.05.145.112.257.17.338Z'/%3E%3C/svg%3E");
}

/* LOGOUT */
.bi-box-arrow-right-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M10 12a.5.5 0 0 1-.5-.5v-2.5H3.5a.5.5 0 0 1 0-1H9.5V5.5a.5.5 0 0 1 1 0v2.5H13a.5.5 0 0 1 0 1h-2.5v2.5a.5.5 0 0 1-.5.5Z'/%3E%3C/svg%3E");
}

/* LOGIN */
.bi-door-open-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M3.5 2a.5.5 0 0 0-.5.5V3h9V2.5a.5.5 0 0 0-.5-.5h-8ZM2 4v9.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V4H2Zm10.854 2.146a.5.5 0 1 0-.708.708L13.293 8l-1.147 1.146a.5.5 0 0 0 .708.708l1.5-1.5a.5.5 0 0 0 0-.708l-1.5-1.5Z'/%3E%3C/svg%3E");
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item ::deep a.active {
        background-color: rgba(255,255,255,0.37);
        color: white;
    }

    .nav-item ::deep .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
